.gamester-features-container{
    margin-bottom: 20px;
}

/*******************************************************
**************** CAJAS VISUALES (CONTENEDOR) ************
*******************************************************/

.details-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 8px;
    width: 100%;
    margin-top: 10px;
    padding: 0px 5px 0px 0px;
}

/*******************************************************
******************** CAJAS VISUALES ********************
*******************************************************/

.details-box {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    padding: 20px 15px;
    min-height: 100px;
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    background-color: var(--brand-hover);
    transition: all .1s ease-in-out;

    &:hover{
        background-color: #36174d;
        transform: scale(0.99);
    }
}

.details-text{
    color: white;
    font-family: var(--font-body);
    font-size: 15px;
}

.text-450{
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: var(--font-body);
    font-size: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; 
    text-align: center;
    line-height: 1.2; 
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}


.details-box img{
    filter: invert(100%);
    max-width: 35px;
}